%table.table.table-hover
  %tr
    %th Count
    %th Name
    %th P/T
  - printings.each do |card|
    %tr
      %td= card[:count]
      %td= card[:name]
      %td
        - if card[:power]
          = "#{card[:power]}/#{card[:toughness]}"
