%table.table.table-striped.table-sm.table-hover
  %thead
    %tr
      %th Score
      %th Name
      %th Tags
      %th Cost
      %th Identity
      %th P/T
  %tbody
    - printings.each do |printing|
      - unless printing[:types].include?('Land')
        %tr
          %td
            - card_score(rated_decks, printing)
          %td
            %i{class: "ss ss-#{printing[:edition_code].downcase}",
                title: printing[:edition_name]}
            %a{href: "/editions/#{printing[:edition_code]}/cards/#{printing[:card_id]}"}
              = printing[:card_name]
            - if with_count
              - count_badge(printing[:count])
          %td.mtgTags
            - printing[:types].each do |type|
              %i{title: type, class: "ms ms-#{type.downcase}"}

            = mtg_tags(printing[:subtypes])

          %td
            = mtg_icons(printing[:mana_cost])
          %td
            = mtg_icons_list(printing[:color_identity])
          %td
            - if printing[:power]
              = "#{printing[:power]}/#{printing[:toughness]}"
  %thead
    %tr
      %th
      %th{colspan: 1} Name
      %th{colspan: 2} Tags
      %th{colspan: 2} Identity
  %tbody
    - printings.each do |printing|
      - if printing[:types].include?('Land')
        %tr
          %td
          %td{colspan: 1}
            %i{class: "ss ss-#{printing[:edition_code].downcase}",
                title: printing[:edition_name]}
            %a{href: "/editions/#{printing[:edition_code]}/cards/#{printing[:card_id]}"}
              = printing[:card_name]
            - if with_count
              - count_badge(printing[:count])
          %td.mtgTags{colspan: 2}
            - printing[:types].each do |type|
              %i{title: type, class: "ms ms-#{type.downcase}"}

            = mtg_tags(printing[:subtypes])

          %td{colspan: 2}
            = mtg_icons_list(printing[:color_identity])
